# Python
__pycache__/
*.pyc

# Extracted App Files & Binaries
*.apk
*.so
*.dex
*.zip

# Third-Party Tools
*.jar
uber-apk-signer*.jar

# Workspaces (Defined in AutoPatcher.py)
source/
destination/
archives/
tools/

# Device Logs
trace.txt
*.log

# Keystores (Falls lokal vorhanden)
*.jks
*.keystore

# Ghidra Project Files
*.gpr
*.rep/
*.lock

*.idea/
doc/virtuagymTrace.txt
RE_History.json
tstconfig.json
RE_History.json
*.db
