# Python
__pycache__/
*.pyc

# Extracted App Files & Binaries
*.apk
*.so
*.dex
*.zip

# Third-Party Tools
*.jar
uber-apk-signer*.jar

# Workspaces (Defined in AutoPatcher.py)
source/
destination/
archives/
tools/
doc/

# Device Logs
trace.txt
*.log

# Keystores (Falls lokal vorhanden)
*.jks
*.keystore

# Ghidra Project Files
*.gpr
*.rep/
*.lock

*.idea/
doc/virtuagymTrace.txt
RE_History.json
tstconfig.json
RE_History.json
*.db

tink_keyset.txt
*.preferences_pb
/Helper
/Helper
/Helper
Helper/api_payload.txt
Helper/bruteforce_bundle.py
Helper/datastore_current_b64.txt
Helper/decode.py
Helper/decrypt.py
Helper/decrypt_AES-256-GCM.py
Helper/decrypt_datastore.py
Helper/mmkv_base64.txt
Helper/secure_datastore_v1.preferences_pb
Helper/TEST/librelink_ultimate_decryptor.py
Helper/TEST/mmkv_base64.txt
Helper/TEST/secure_datastore_v1.preferences_pb
Helper/tink_keyset.txt
